.profile {
  display: block;
  position: relative;
  padding: 1rem 0;
}

.profile img {
  max-width: 80px;
  float: left;
  margin: 0 1rem 1rem 0;
  border-radius: 40px;
  border: 1px solid var(--light);
}

.profile h1 {
  font-size: 2rem;
  margin: 1rem 0 0 0;
}

.profile p {
  margin: 0 0 1rem 0;
}
