.accordion {
  display: flex;
  flex-direction: column;
}
.accordion section {
  border: 1px var(--light) solid;
  border-bottom: none;
}
.accordion section:last-child {
  border-bottom: 1px var(--light) solid;
}
.accordion h3 {
  padding: 1rem;
  margin: 0;
  font-weight: normal;
  background-color: var(--lightest);
}
.accordion section.active h3 {
  background-color: var(--light);
  /* font-weight: bold; */
  border-bottom: 1px var(--light) solid;
  /* background-color: #ddd); */
}
.accordion h3:hover {
  cursor: pointer;
  background-color: var(--lighter);
}
.accordion .active h3:hover {
  /* background-color: #efefef; */
  cursor: auto;
}
.accordion section .content {
  padding: 0 1rem;
  display: none;
}
.accordion section.active .content {
  display: block;
}
